<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ac_companion.wegner">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app_logo_circle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FishDetails"/>
        <activity android:name=".InsectDetails"/>
        <activity android:name=".FossilDetails"/>
        <activity android:name=".FlowerDetails"/>
        <activity android:name=".Settings" />
        <activity android:name=".InsectList" />
        <activity android:name=".FishList" /> <!-- Sample AdMob App ID: ca-app-pub-5899740383904630~9341712675 -->
        <activity android:name=".FossilList" />
        <activity android:name=".FlowerList" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5899740383904630~9341712675" />
    </application>

</manifest>